body, html {height: 100%; margin: 0px;}
body {font-family: "Open Sans", sans-serif}

/*
	Colours:
		Dark-red: d90429
		Red: ef233c
		White: edf2f4
		Gray: 8d99ae
		Dark-gray: 2b2d42
*/

#wrapper {
	height: 100%;
}

#navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #d90429;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
}

#navigation-menu {
	display: none;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	background-color: #edf2f4;
	font-size: 20px;
	font-weight: 300;
}

#content {
	font-size: 16px;
	font-weight: 300;
	padding: 20px;
}

#content h1 {
	font-size: 18px;
	font-weight: 300;
}

#footer {
	display: flex;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	background-color: #2b2d42;
	color: #ffffff;
	position: fixed;
	bottom: 15px;
	right: 20px;
}
