/* Viewport PORTRAIT: General window settings */
 @media (orientation: portrait) {
     body, html {
         height: 100%;
         margin: 0;
    }
     #wrapper {
         min-height: 100%;
    }
}

/* Viewport LANDSCAPE: General window settings */
 @media (orientation: landscape) {
     body, html {
         height: 100%;
         margin: 0;
    }
     #wrapper {
         min-height: 100%;
         padding-left: 30px;
         padding-right: 30px;
    }
     #header {
         width: calc(100% - 40px) !important;
         margin-left: -30px !important;
         padding-left: 50px !important;
         padding-right: 50px !important;
    }
     #breadcrumbs {
         width: calc(100% - 40px) !important;
         margin-left: -30px !important;
         padding-left: 50px !important;
         padding-right: 50px !important;
    }
     #nav {
         width: calc(100% - 40px) !important;
         margin-left: -30px !important;
         padding-left: 50px !important;
         padding-right: 50px !important;
    }
}

/* General text settings - stop adjusting text size in landscape on mobile. */
 body, html {
     background-color: #d90429;
     font-family: "Open Sans", sans-serif;
     font-size: 12px;
     text-size-adjust: none;
     -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
}

/* General wrapper */
 #wrapper {
     background-color: #edf2f4;
}

/* Header section - containing brand & menu button */
 #header {
     background-color: #d90429;
     color: #fff;
     display: flex;
     font-size: 24px;
     font-weight: 300;
     justify-content: space-between;
     padding: 45px 20px 20px;
}

/* Breadcrumbs section */
 #breadcrumbs {
     background-color: #fff;
     color: #2b2d42;
     display: none;
     font-size: 14px;
     font-weight: 300;
     padding: 5px 5px 5px 20px;
}
 .breadcrumbs-item {
     padding-top: 3px;
}

/* Navigation menu section */
 #nav {
     background-color: #fff;
     display: none;
     flex-direction: column;
     font-size: 20px;
     font-weight: 300;
     gap: 10px;
     padding: 20px;
}
 .nav-section-collapsed {
     padding-left: 15px;
     display: none;
     flex-direction: column;
     margin-left: 15px;
     gap: 10px;
     font-size: 18px;
     border-left: 1px dashed #2b2d42;
}
 .nav-chevron {
     font-size: 18px;
     color: #2b2d42;
     vertical-align: middle;
}

/* Content section */
 #content {
     font-size: 16px;
     font-weight: 300;
     padding: 20px;
}
 #content h1 {
     font-size: 18px;
     font-weight: 300;
}
 #content h2 {
     font-size: 16px;
     font-weight: 300;
}

/* Footer (back-to-top-icon) section */
 #footer {
     background-color: #2b2d42;
     border-radius: 50%;
     bottom: 25px;
     color: #fff;
     display: none;
     flex-direction: column;
     height: 35px;
     justify-content: center;
     position: fixed;
     right: 30px;
     text-align: center;
     width: 35px;
}

/* Placeholders */
 .placeholder{
     display: none;
     margin: 0px;
     padding: 0px;
}

/* Checklist style section */
 .checklist-item-selected {
     background-color: #9f9;
}
 .checklist-item-selected::before {
     content: "✔ ";
}
 .checklist-button {
     text-align: center;
     padding: 0px;
}

/* Special text highlighting */
 .text-box-gray {
     display: flex;
     background-color: #2b2d4182;
     border-radius: 10px;
     color: #fff;
     font-weight: 500;
     padding: 3px 10px 3px;
     margin-top: 5px;
}
 .text-box-gray .material-icons{
     font-size: 16px;
     padding-right: 5px;
}
 .text-box-red {
     background-color: #ef233c;
     border-radius: 10px;
     color: #fff;
     font-weight: 500;
     padding: 3px 10px 3px;
}
 .text-red {
     font-weight: 500;
     color: #ef233c !important;
}

/* Table section */
 table {
     width: 100%;
}
 th {
     color: #fff;
     font-size: 12px;
     font-weight: 500;
     padding: 10px 15px;
     text-align: left;
}
 td {
     border-bottom: 0;
     color: #000;
     font-size: 12px;
     font-weight: 300;
     padding: 15px;
     text-align: left;
     vertical-align: middle;
}
 tbody tr:nth-child(odd) {
     background-color: #fff;
}
 .tbl-header {
     background-color: #2b2d42;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     color: #fff;
}
 .tbl-content {
     border: 3px solid #2b2d42;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     margin: 0;
}
 .tbl-small {
     width: 50px;
     padding: 3px;
}
 .tbl-medium {
     width: 100px;
     padding: 1px;
}
 .tbl-centered {
     text-align: center;
}
 .tbl-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 .tbl-list a:link, .tbl-list a:visited {
     font-weight: 500;
     text-decoration: underline;
     color: #000;
}

/* Image section */
 img {
     max-width: 100%;
     height: auto;
}
 .modal {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    top: 0;
    width: calc(100% - 40px);
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
 .modal img {
    background-color: #fff;
    border-radius: 10px;
    max-height: calc(100% - 120px);
}
 .modal-close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

/* Generic CSS objects */
 .asBlock {
     display: block;
     margin: 0px 2px;
}

 .asBaseline {
    align-items: baseline;
}

/* Variable modals */
 .var-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}

 .var-param {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
}

 .var-header {
    display: flex;
    justify-content: space-between;
}

 .var-content {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: rgba(237, 242, 244, 0.36);
    padding: 5px 10px;
    border-radius: 3px;
    border-left: 5px solid rgb(237, 242, 244);
    margin-top: 5px;
}

 .var-content-header{
    text-transform: uppercase;
    font-size: 10px;
    color: #000
}

 .left {
}

 .right {
    text-align: right;
    color: #333;
}

/* New Table design */
 .data-table table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-spacing: 2px !important;
    border-collapse: separate !important;
}

 .data-table thead {
    background-color: #2b2d42;
    color: #fff;
    font-weight: 500;
}

 .data-table tr {
    padding: 5px 5px;
}

 .data-table .odd {
    background-color: #fff;
}

 .data-table .even {
    background-color: #edf2f4;
}

 table.dataTable thead .sorting_asc, table.dataTable thead .sorting {
    background-image: url("/img/tbl/sort-down-solid.svg") !important;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-x: calc(100% - 10px);
    background-position-y: calc(100% - 10px);
}

 table.dataTable thead .sorting_desc {
    background-image: url("/img/tbl/sort-up-solid.svg") !important;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-x: calc(100% - 10px);
    background-position-y: calc(100% - 3px);
}

 .data-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .data-title input {
    font-size: 12px;
    border: 1px solid #2b2d42;
    border-radius: 5px;
    background-color: #edf2f4;
    padding: 0px 10px;
    width: 100px;
    height: 25px;
    text-align: center;
}

/* Done */